.page-wrap {
    background-color: rgb(196, 196, 196);
    display:block;
  }

.sidebar-content-wrap {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.content-wrap {
    width:90%;
    background-color: rgb(184, 184, 184);
    padding: 5px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.text {
    text-align: left;
    color: black;
    font-size: 15px;
}

.list-wrap {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
}

.list-header {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    background-color: rgb(214, 177, 248);
    color: black;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.code-clm {
    width: 10%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.stt-clm{
    width: 5%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.name-clm {
    width: 25%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}


.status-clm {
    width: 20%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.status-text {
    padding: 5px;
    background-color: rgb(3, 173, 3);
    color: white;
    width:fit-content !important
}

.descript-clm{
    width: 40%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.list-content-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    overflow-y: overlay;
    gap: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    font-size: 10px;
    height: 600px;
    padding-left: 5px;
    padding-right: 20px;
}

.list-item-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
}

.detail-btn{
    width:5%;
}
.detail-btn-icon{
    height:10px;
    margin-right: 2px;
}

.position-form-wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form-item{
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.form-wrap-position{
    display: grid;
    grid-template-columns: 1fr; /* Two columns */
    grid-gap: 17px; /* Spacing between elements */
}

.save-btn{
    width: fit-content;
    margin-top: 20px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    height: 20px;
}
