.page-wrap {
    background-color: rgb(196, 196, 196);
    display:block;
  }

.sidebar-content-wrap {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.content-wrap {
    width:90%;
    background-color: rgb(184, 184, 184);
    padding: 5px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.text {
    text-align: left;
    color: black;
    font-size: 15px;
}

.list-wrap {
    height: 80%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
}

.list-header {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    background-color: rgb(214, 177, 248);
    color: black;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.code-clm {
    width: 10%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.teacher-clm{
    width: 20%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.qualify-clm {
    width: 20%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.subject-clm {
    width: 5%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.position-clm{
    width: 10%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.adress-clm{
    width: 10%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.status-clm {
    width: 10%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.status-text {
    padding: 5px;
    background-color: rgb(3, 173, 3);
    color: white;
    width:fit-content !important
}

.action-clm{
    width: 7%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.list-content-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    overflow-y: overlay;
    gap: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    font-size: 10px;
    height: 600px;
}

.list-item-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
}


.teacher-name{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subinfo{
    font-style: italic;
    font-size: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.teacher-avt{
    height: 35px;
}

.teacher-content-wrap{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.info{
    margin-top: 1px;
    margin-bottom: 1px;
}

.list-controller{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 98%;
    margin-bottom: 5px;
    gap: 5px;
}
.searchbar {
    width: 15%;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #d4d4d4;
    border-radius: 5px;
    background-color: white;
    display: flex;
    gap: 10px;
    padding: 0 5px 0px 5px;
    align-items: center;
}

input {
    outline: none;
}

.search-input {
    color: rgb(44, 43, 43);
    height: 100%;
    width:80%;
    font-size: 18px;
    font-family: 'Pangea Afrikan Trial Medium';
}

.search-input > input {
    background-color: transparent;
    outline: none;
    height: 100%;
    width: 100%;
    border: 0px;
    font-family: 'Pangea Afrikan Trial Medium';
}

.search-icon img {
    height: 20px;
}

.list-controller-btn {
    background-color: white !important;
    border: 1px solid rgb(66, 61, 61) !important;
    padding: 2px 3px 2px 3px !important;
    font-size: 15px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    color: black !important;
    height: fit-content !important;
}

.list-controller-btn:hover {
    background-color: gold !important;
    color: black !important;
}
.btn-icon{
    height: 15px;
    margin-right: 2px;
}
.detail-btn{
    font-size: 10px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 10px !important;
    width: fit-content !important;
}
.detail-btn-icon{
    
    height:10px !important;
    margin-right: 2px !important;
}

.create-teacher-content-wrap{
    display:flex !important;
    flex-direction: column;
    overflow-y: overlay !important;
    align-items: center !important;
    justify-content: center !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    gap: 20px;
    width: 90%;
}

.create-teacher-upper-wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.avatar-upload-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
    gap: 5px;
}

.create-teacher-ava{
    height: 170px;
}

.ava-upload-btn{
    box-sizing: content-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    cursor: pointer;
}

.ava-upload-icon{
    height: 20px;
}

.person-info-wrap{
    display: flex;
    flex-direction: column;
    width: fill;   

}

.form-title{
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-decoration:wavy;
    position: relative;
}
.form-title-text{
    position: relative;
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    margin-left: 5%;
}

.line-through-line {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    border-top: 3px solid purple; /* Adjust color and thickness as needed */
    transform: translateY(-50%);
  }

.form-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-gap: 17px; /* Spacing between elements */
}
.form-item{
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.form-wrap-position{
    display: grid;
    grid-template-columns: 1fr; /* Two columns */
    grid-gap: 17px; /* Spacing between elements */
}

.save-btn{
    width: 5%;
    margin-top: 20px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    height: 20px;
}

